.person_block{
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  .semi_circle{
    position: absolute;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: #a1162d;
    top: -27rem;
    left: -9.5rem;
  }
  .person_msgbox{
    width: 80%;
    margin: 3.8rem auto 0;
    position: relative;

    .person_box{
      z-index: 6;
      width: 100%;
      height:5.8rem;
      background-color: #fff;
      position: relative;
      border-radius: .45rem;

      .person_top{
        position: relative;
        width: 100%;
        height:2.6rem;
        .head_img{
          position: absolute; width : 2.9rem ;height:2.9rem ; border-radius: 50%;
          top: -.6rem;
          left: .6rem;
        }
        .user_name{
          padding-left: 4rem;
          height: 2.6rem;
          line-height: 2.4rem;
          font-size: .7rem;
        }
      }

      .person_collect_ul{
        display: flex;
        width: 100%;
        height: 3rem;
        a{
          color: #333;
        }
        li{
          flex: 1;
          text-align: center;
          line-height: 2rem;
          dt{
            font-size: .8rem;
          }
          dd{
            font-size: .6rem;
            color: #999;
            line-height: 0;
          }
        }
      }

    }

  .black_car_box{
    width: 100%;
    height:4rem;
    background-color: #2a2a2a;
    position: absolute;
    line-height: 6.25rem;
    bottom :-30%;
    z-index: 5;
    border-radius: .45rem;
    overflow: hidden;
    p{
      padding-left: .55rem;
      font-size: .6rem;
      color: #615f20;
      z-index: -5;
    }
  }

  }

  .my_order{
    width: 100%;
    height: 4.8rem;
    background-color: #fff;
    margin-top: 2.7rem;
    z-index:67;
    .order_title{
      height:1.65rem;
      line-height: 1.65rem;
      padding: 0 .6rem;
      border-bottom: 1px solid #eee;
      .title{
        font-size: .6rem;
        font-weight: 600;
      }
      .check_all{
        color: #999;
        float: right;
        display: inline-block;
        font-size: .6rem;
        z-index:99;
      }
    }

    .order_ul{
      display: flex;
      li{
        flex: 1;
        text-align: center;
        font-size: .54rem;
        color: #333;
        dl{
          margin-top: .38rem;
        }
        dd{
          margin-top: .2rem;
        }
        img{
          width: 1.28rem;
        }
      }
    }

  }

}

.collect_header{
  width: 100%;
  height: 2.15rem;
  background-color: #fff;
  justify-content: center;
  position: fixed;
  font-size: .7rem;
  line-height: 2.15rem;
  border-bottom: 1px solid #e2e2e2;
  z-index:30;
  a{
    display: block;
    position: absolute;
    width: 2rem;
    left:0 ;
    top:0;
     img{
       width: .85rem;
       height:.85rem;
       vertical-align: middle;
     }
  }
}

.order_headbar{
  width: 100%;
  padding-top: 2.15rem;
  display: flex;
  .acti{
    color: #e31436;
    border-bottom: 1px solid #e31436;
  }
  li{
    flex: 1;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    font-size: .6rem;
  }
}

.order_content_ul{
  width: 100%;
  font-size: .6rem;
  li{
    margin-top: .35rem;
    background-color: #fff;
    padding: 0 0 .2rem .4rem;
    .order_head{
      height: 1.52rem;
      line-height: 1.52rem;
      border-bottom: 1px solid #eee;
      font-size: .6rem;
      .time_clock{
        display: inline-block;
        float: left;
      }
      .order_status{
        display: inline-block;
        float: right;
        padding-right: .6rem;
        img{
          width: .52rem;
          vertical-align: middle;
        }
      }
    }

    .goods_content{
      width: 100%;
      height:3.6rem;
      border-bottom: 1px solid #e2e2e2;
      .left_goods_img{
        width: 20%;
        height:3.6rem;
        float: left;
        display: inline-block;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .goods_title{
        margin-bottom: 3px;
        height: 1.25rem;
        overflow: hidden;
        font-size: .56rem;
        line-height: .65rem;
        word-wrap: break-word;
        color: #333;
        margin-top: .4rem;
        display: inline-block;
        width: 56%;
        float: left;
        margin-left: .3rem;
      }
      .right_price{
        width: 18%;
        color: #666;
        margin-top: .35rem;
        font-size: .6rem;
        text-align: right;
        float: left;
      }
    }

    .order_count{
      height: 1.45rem;
      line-height: 1.45rem;
      text-align: right;
      padding-right: .5rem;
      .price{
        color: #e31436;
      }
    }

  }
}

.collect_content{
  width: 100%;
  height: 100%;
  background-color: #fff;
  .nopage{
    text-align: center;
    font-size: .8rem;
    color: #888;
    img{
      margin: 1.4rem 0;
      width: 5.2rem;
    }
  }
  .collect_ul{
    li{
      height: 5.6rem;
      .collect_img{
        width: 35%;
        float: left;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }

      .collect_right_content{
        float: right;
        width: 65%;
        height: 99%;
        border-bottom: 1px solid #e2e2e2;
        .goods_title{
          margin-top: .45rem;
          margin-left: 2%;
          font-size: .66rem;
          width: 94%;
          overflow: hidden;
          height: 1.55rem;
          line-height: .8rem;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
        .goods_price{
          margin: .68rem 0 2% 2%;
          font-size: .83rem;
          color: #e31436;
          .small{
            font-size: .6rem;
          }
        }
        .goods_discount{
          display: inline-block;
          font-size: .56rem;
          margin-left: 2%;
          background-color: #e31436;
          color: #fff;
          width: 2.4rem;
          text-align: center;
          height:.66rem;
          line-height: .66rem;
          overflow: hidden;
        }
        .add_car{
          display: inline-block;
          margin-left: 6%;
          width: 3.8rem;
          height:1.3rem;
          line-height: 1.3rem;
          font-size: .56rem;
          text-align: center;
          border: 1px solid #eee;
          border-radius: .3rem;

        }
      }

    }
  }
}

.order_content{
  background-color: #fff;
  .unpage{
    text-align: center;
    font-size: .8rem;
    color: #888;
    img{
      margin: 1.4rem 0;
      width: 5.2rem;
    }
  }
}